<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete TODO</title>
</head>
<body>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary" value='Submit'>
        <a class="btn" href="{% url 'index' %}">Return</a>
    </form>
</div>

</body>
</html>